@import '../variables';

$BORDER: 2px;

.modalContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    width: 30%;
    padding: 40px 60px;
    background-color: white;
    position: relative;
    .close {
      all: unset;
      cursor: pointer;
      width: 100px;
      height: 100px;
      position: absolute;
      right: -16px;
      top: -16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      color: rgba($color: $BLACK, $alpha: 0.6);
    }
    .inputContainer {
      display: flex;
      align-items: center;
      position: relative;
    }
    h2 {
      margin-bottom: 40px;
    }
    .modalTextInput {
      all: unset;
      height: 50px;
      padding: 0px 20px;
      border: $BORDER solid $BLUE;
      width: calc(100% - 44px);
      position: absolute;
      font-size: large;
      &:focus + .modalInputPlaceholder {
        color: $BLUE;
        left: 10px;
        top: -25px;
        font-size: 16px;
      }
    }
    .modalInputPlaceholder {
      position: relative;
      top: -$BORDER;
      background-color: white;
      color: rgba($color: $BLUE, $alpha: 0.5);
      left: 15px;
      font-size: 20px;
      height: 22px;
      padding: 0px 5px;
      transition: 0.1s ease-out;
      pointer-events: none;
    }
  }
  .submit {
    all: unset;
    background-color: $BLUE;
    color: white;
    font-size: large;
    margin-top: 50px;
    width: calc(100%);
    text-align: center;
    height: 50px;
    cursor: pointer;
  }
}