@import '../variables';

$BORDER: 2px;

.modalContainer {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    padding: 40px 60px;
    background-color: white;
    position: relative;
    h2 {
      margin-bottom: 40px;
    }
    .close {
      all: unset;
      cursor: pointer;
      width: 100px;
      height: 100px;
      position: absolute;
      right: -16px;
      top: -16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      color: rgba($color: $BLACK, $alpha: 0.6);
    }
    
  }
  .submit {
    all: unset;
    background-color: $BLUE;
    color: white;
    font-size: large;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    height: 50px;
    cursor: pointer;
    &:disabled {
      background-color: rgba($color: $BLUE, $alpha: 0.5);
    }
  }
}