@import '../variables';

$BORDER: 2px;

form {
  width: 500px;
}
@media (max-width: 1000px) {
  form {
    width: 350px;
  }
}
@media (max-width: 500px) {
  form {
    width: 250px;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.modalTextInput {
  all: unset;
  height: 50px;
  padding: 0px 20px;
  border: $BORDER solid $BLUE;
  width: calc(100% - 44px);
  position: absolute;
  font-size: 20px;
  &:focus + .modalInputPlaceholder,
  &:valid + .modalInputPlaceholder {
    color: $BLUE;
    left: 10px;
    top: -25px;
    font-size: 16px;
  }
}
.modalInputPlaceholder {
  position: relative;
  top: -$BORDER;
  background-color: white;
  color: rgba($color: $BLUE, $alpha: 0.5);
  left: 15px;
  font-size: 20px;
  height: 22px;
  padding: 0px 5px;
  transition: 0.1s ease-out;
  pointer-events: none;
}