@import '../variables';
@import '../mixins';

// Input Edit
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  button {
    all: unset;
    font-weight: bolder;
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgba($color: $BLACK, $alpha: 0.75);
    padding: 8px;
    cursor: pointer;
  }
}
.yesOrNoTitle {
  all: unset;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: $BLACK;
  border-bottom: 1px solid rgba($color: $BLACK, $alpha: 0.25);
  &::placeholder {
    color: $BLACK;
  }
}
.inputsContainer {
  display: flex;
  gap: 20px;
}
.male, .female, .yes, .no {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 999px;
    margin-right: 20px;
  }
  input {
    all: unset;
    margin-left: 15px;
    width: 75px;
    font-size: 20px;
  }
}
.male, .female {
  svg {
    scale: 1.5;
  }
  input {
    color: white;
    border-bottom: 1px solid white;
  }
}
.male {
  background-color: $BLUE;
}
.female {
  background-color: $PINK;
}
.yes {
  border: 2px solid $GREEN;
  color: $GREEN;
  input {
    border-bottom: 1px solid $GREEN;
  }
}
.no {
  border: 2px solid $RED;
  color: $RED;
  input {
    border-bottom: 1px solid $RED;
  }
}
input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
input[type="checkbox"]:checked + .isRequired::before {
  background-color: $BLUE;
}
.isRequired {
  @include margin-y(20px);
  display: flex;
  gap: 8px;
  user-select: none;
  width: 40%;
  &:hover {
    &::before {
      background-color: $GRAY;
    }
  }
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid rgba($color: $BLACK, $alpha: 0.25);
    transition: 0.1s ease-out;
  }
}
.addComponent {
  all: unset;
  font-weight: 600;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: $BLUE;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

// Input Show
.inputContainer {
  padding-left: 20px;
  button {
    all: unset;
    float: right;
    padding: 0px 8px 0px 8px;
    cursor: pointer;
  }
  .gendersContainer, .yesOrNoContainer {
    display: flex;
    gap: 20px;
  }
  input {
    position: absolute;
    width: 0;
    height: 0;
  }
  .maleInput, .femaleInput, .yesInput, .noInput {
    user-select: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;
    div {
      position: relative;
      display: flex;
      gap: 12px;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      svg {
        z-index: 1;
      }
    }
  }
  .maleInput, .femaleInput {
    div {
      color: white;
      svg {
        scale: 1.5;
      }
      &::before {
        left: -30px;
        content: '';
        position: absolute;
        z-index: 1;
        width: 10px;
        height: 10px;
        border: 2px solid white;
        border-radius: 99px;
        background-color: white;
      }
    }
  }
  .maleInput {
    background-color: $BLUE;
    input:checked + div::before {
      background-color: $BLUE;
    }
  }
  .femaleInput {
    background-color: $PINK;
    input:checked + div::before {
      background-color: $PINK;
    }
  }
  .yesInput {
    border: 2px solid $GREEN;
    color: $GREEN;
  }
  .yesRadio:checked + .yesInput {
    background-color: $GREEN;
    color: white;
  }
  .noInput {
    border: 2px solid $RED;
    color: $RED;
  }
  .noRadio:checked + .noInput {
    background-color: $RED;
    color: white;
  }
}
.gendersContainer, .yesOrNoContainer {
  flex-direction: row;
}
@media (max-width: 800px) {
  .gendersContainer, .yesOrNoContainer {
    flex-direction: column;
  }
}
.title {
  font-weight: bold;
  font-size: 18px;
  @include margin-y(12px);
}