@import './Default/variables';

.header {
  height: 100vh;
}
.headerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 100%;
  .inputsHeader {
    padding: 48px;
    h1 {
      padding-bottom: 24px;
      line-height: 42px;
    }
    .inputsContainer {
      display: flex;
      gap: 16px;
      flex-direction: column;
      font-size: 18px;
      input, textarea {
        all: unset;
        padding: 12px 24px;
        animation: start-inp-ta 1s cubic-bezier(0,.8,.08,.99) forwards;
        border-width: 2px;
        border-style: solid;
      }
      input {
        height: 32px;
        animation: start-input 1s cubic-bezier(0,.8,.08,.99) forwards;
      }
      textarea {
        height: 200px;
        animation: start-textarea 1s cubic-bezier(0,.8,.08,.99) forwards;
      }
      .create {
        all: unset;
        padding: 12px 0px;
        border-width: 2px;
        border-style: solid;
        color: white;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #00000010;
        }
      }
    }
  }
}
@keyframes start-inp-ta {
  from {
    padding: 0px 0px;
  }
  to {
    padding: 12px 24px;
  }
}
@keyframes start-input {
  from {
    height: 0px;
  }
  to {
    height: 32px;
  }
}
@keyframes start-textarea {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}